.btn_plus{
    border-radius: 50%;
    width: 100px;
    height:100px;
    background-color: aqua;
    color:black;
    font-size:500%;



}
.btn_minus{
    border-radius: 50%;
    width: 100px;
    height:100px;
    background-color: aqua;
    color:black;
    font-size:500%;

}
